In [1]:
#Flow Control
#WAP which takes an arithmetic operators & 2 numbers, as an and do the calculation based on the input operator

A= input("enter the arithmetic operators,: ")
num1=int(input("enter the 1st number,: " ))
num2=int(input("enter the 2nd number,: " ))
if A == '+':
    print(num1 + num2)
elif A ==  '-':
    print(num1 - num2)
elif A == '*':
    print(num1 * num2)
elif A == '/':
    print(num1 / num2)
elif A == '//':
    print(num1 // num2 )
elif A == '%':
    print(num1 % num2)
else:
    print("please enter the correct operator.")

enter the arithmetic operators,:  *
enter the 1st number,:  5
enter the 2nd number,:  2

10

In [1]:
#WAP to calculate area of triangle --> 0.5*b*h
b= int(input("enter the value of breadth :"))
h= int(input("enter the value of height :"))
area = 0.5*b*h
print("area of triangle",area)

enter the value of breadth : 4
enter the value of height : 4

area of triangle 8.0

In [3]:
#WAP to calculate vol of sphere --> (4/3)*3.14*(r**3)
r= int(input("enter the value of radius :"))
vol= (4/3)*3.14*(r**3)
print("vol of sphere", vol)

enter the value of radius : 10

vol of sphere 4186.666666666667

In [9]:
#WAP for check a number is leap year or not by using following constraints-:
#Constraints-:
#1. N div by 400 --> leap year
#2. N div by 4 , N not div by 100 --> leap year

year = int(input("enter the number :"))
if year % 4==0 and year % 100 !=0 or year % 400==0:
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

enter the number : 2013

2013 is not a leap year

#WAP to display the grade given a mark by using following constraint-:
#Constraints -:
#75 & above -: A grade
#60-74 -: B grade
#35-59 -: C grade
#Below 35 -: Fail
percentage = int(input("enter the percentage : "))
if percentage < 35:
    print('fail')
elif 35 < percentage <59:
    print('C')
elif 60 < percentage <74:
    print('B')
elif percentage > 75:
    print('A')
else:
    print("please enter the percentage= ",percentage)

In [1]:
#WAP to check weather the number is even or odd
#Constraints-:
#N div by 2 → even
number = int(input("enter the number : "))
if number%2==0:
    print(number,"is even number")
else:
    print(number,"is odd number")

enter the number :  24

24 is even number

In [ ]:
#LOOPs

In [80]:
#WAP to print 1-10 using for loop
for i in range(1,11):
 print(i)

print('--------------------')
print('****while loop*******')
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
--------------------
****while loop*******
1
2
3
4
5
6
7
8
9
10

In [7]:
#WAP to print 10-1 using for loop
for i in range(10,0,-1):
 print(i)

print('--------------------')
print('****while loop*******')

i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
--------------------
****while loop*******
10
9
8
7
6
5
4
3
2
1

In [9]:
#WAP to calculate the factorial of number using for loop
n = int (input ("Enter a number: "))
factorial = 1
if n >= 1:
    for i in range (1, n+1):
        print("i : ",i)
        print("factorial : ",factorial ," i :",i)
        factorial=factorial *i
print("Factorial of the given number is: ", factorial)

####while loop#######

print('####while loop#######')
i = 1
factorial =1
if n >= 1:
    while i<=n:
        factorial=factorial*i
        i = i+1
    print("Factorial of the given number is: ", factorial)

Enter a number:  10

i :  1
factorial :  1  i : 1
i :  2
factorial :  1  i : 2
i :  3
factorial :  2  i : 3
i :  4
factorial :  6  i : 4
i :  5
factorial :  24  i : 5
i :  6
factorial :  120  i : 6
i :  7
factorial :  720  i : 7
i :  8
factorial :  5040  i : 8
i :  9
factorial :  40320  i : 9
i :  10
factorial :  362880  i : 10
Factorial of the given number is:  3628800
####while loop#######
Factorial of the given number is:  3628800

In [32]:
#WAP to add 1st nth natural using for loop
n = int(input("Enter a number: "))
sum=0
for i in range(1,n+1):
    sum = sum + i
print(sum)

print('####while loop#######')
i = 1
sum=0
while(i<=n):
    sum = sum + i
    i+=1
print(sum)

Enter a number:  10

55
####while loop#######
55

In [48]:
#WAP to print the table of given N using for loop
num = int (input ("Enter a number: "))
for i in range(1, 11):
   print(num*i)

print('---------------------')  
print('####while loop#######')  
print('---------------------') 
i=1
while i <= 10:
   print(num*i)   
   i+=1

Enter a number:  5

5
10
15
20
25
30
35
40
45
50
---------------------
####while loop#######
---------------------
5
10
15
20
25
30
35
40
45
50

In [46]:
#WAP to print nth fibonacci series
a = 0
b = 1 
print(a)
print(b)
for i in range(10):
    c = a + b
    print(c)
    a = b 
    b = c

print('--------------------')

print('####while loop#######')
i =1
a = 0
b = 1
print(a)
print(b)
while(i<11):
    c = a + b
    print(c)
    a = b
    b = c
    i+=1

0
1
1
2
3
5
8
13
21
34
55
89
--------------------
####while loop#######
0
1
1
2
3
5
8
13
21
34
55
89

In [42]:
#WAP to list out all the leap years from 1900-2030 using for loop
for i in range(1900,2031):
        if i%4==0 and  i%100!=0:
            print(i,"leap year")
        elif i%400 == 0:
            print(i,"leap year")
        else:
           print(i,"not a leap year")
print()

1900 not a leap year
1901 not a leap year
1902 not a leap year
1903 not a leap year
1904 leap year
1905 not a leap year
1906 not a leap year
1907 not a leap year
1908 leap year
1909 not a leap year
1910 not a leap year
1911 not a leap year
1912 leap year
1913 not a leap year
1914 not a leap year
1915 not a leap year
1916 leap year
1917 not a leap year
1918 not a leap year
1919 not a leap year
1920 leap year
1921 not a leap year
1922 not a leap year
1923 not a leap year
1924 leap year
1925 not a leap year
1926 not a leap year
1927 not a leap year
1928 leap year
1929 not a leap year
1930 not a leap year
1931 not a leap year
1932 leap year
1933 not a leap year
1934 not a leap year
1935 not a leap year
1936 leap year
1937 not a leap year
1938 not a leap year
1939 not a leap year
1940 leap year
1941 not a leap year
1942 not a leap year
1943 not a leap year
1944 leap year
1945 not a leap year
1946 not a leap year
1947 not a leap year
1948 leap year
1949 not a leap year
1950 not a leap year
1951 not a leap year
1952 leap year
1953 not a leap year
1954 not a leap year
1955 not a leap year
1956 leap year
1957 not a leap year
1958 not a leap year
1959 not a leap year
1960 leap year
1961 not a leap year
1962 not a leap year
1963 not a leap year
1964 leap year
1965 not a leap year
1966 not a leap year
1967 not a leap year
1968 leap year
1969 not a leap year
1970 not a leap year
1971 not a leap year
1972 leap year
1973 not a leap year
1974 not a leap year
1975 not a leap year
1976 leap year
1977 not a leap year
1978 not a leap year
1979 not a leap year
1980 leap year
1981 not a leap year
1982 not a leap year
1983 not a leap year
1984 leap year
1985 not a leap year
1986 not a leap year
1987 not a leap year
1988 leap year
1989 not a leap year
1990 not a leap year
1991 not a leap year
1992 leap year
1993 not a leap year
1994 not a leap year
1995 not a leap year
1996 leap year
1997 not a leap year
1998 not a leap year
1999 not a leap year
2000 leap year
2001 not a leap year
2002 not a leap year
2003 not a leap year
2004 leap year
2005 not a leap year
2006 not a leap year
2007 not a leap year
2008 leap year
2009 not a leap year
2010 not a leap year
2011 not a leap year
2012 leap year
2013 not a leap year
2014 not a leap year
2015 not a leap year
2016 leap year
2017 not a leap year
2018 not a leap year
2019 not a leap year
2020 leap year
2021 not a leap year
2022 not a leap year
2023 not a leap year
2024 leap year
2025 not a leap year
2026 not a leap year
2027 not a leap year
2028 leap year
2029 not a leap year
2030 not a leap year

In [44]:
#WAP to give all the even and odd number in list from 1-100 using for loop
for i in range(1,101):
    if i%2==0:
        print(i,"Even Number")
    else :
        print(i,"Odd Number")
print()

1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
10 Even Number
11 Odd Number
12 Even Number
13 Odd Number
14 Even Number
15 Odd Number
16 Even Number
17 Odd Number
18 Even Number
19 Odd Number
20 Even Number
21 Odd Number
22 Even Number
23 Odd Number
24 Even Number
25 Odd Number
26 Even Number
27 Odd Number
28 Even Number
29 Odd Number
30 Even Number
31 Odd Number
32 Even Number
33 Odd Number
34 Even Number
35 Odd Number
36 Even Number
37 Odd Number
38 Even Number
39 Odd Number
40 Even Number
41 Odd Number
42 Even Number
43 Odd Number
44 Even Number
45 Odd Number
46 Even Number
47 Odd Number
48 Even Number
49 Odd Number
50 Even Number
51 Odd Number
52 Even Number
53 Odd Number
54 Even Number
55 Odd Number
56 Even Number
57 Odd Number
58 Even Number
59 Odd Number
60 Even Number
61 Odd Number
62 Even Number
63 Odd Number
64 Even Number
65 Odd Number
66 Even Number
67 Odd Number
68 Even Number
69 Odd Number
70 Even Number
71 Odd Number
72 Even Number
73 Odd Number
74 Even Number
75 Odd Number
76 Even Number
77 Odd Number
78 Even Number
79 Odd Number
80 Even Number
81 Odd Number
82 Even Number
83 Odd Number
84 Even Number
85 Odd Number
86 Even Number
87 Odd Number
88 Even Number
89 Odd Number
90 Even Number
91 Odd Number
92 Even Number
93 Odd Number
94 Even Number
95 Odd Number
96 Even Number
97 Odd Number
98 Even Number
99 Odd Number
100 Even Number

In [60]:
#wap to reverse a number
#input -: 7546
#ouput -: 6457
num = int(input())
reverse=0
while num!=0:
    remainder = num%10
    reverse = reverse*10+remainder
    num = num//10
print("reverse number:" ,reverse)

 7546

reverse number: 6457

In [92]:
#WAP to check whether the given number is palindrome or not
num = int(input("enter the number:"))
p= num
reverse=0
while num!=0:
    remainder = num%10
    reverse = reverse*10+remainder
    num = num//10
if reverse==p:
    print("palindrome")
else:
    print(" not palindrome")

enter the number: 12321

palindrome

In [68]:
#WAP to check whether the given number is palindrome or not
s=("arora")
p= s[: :-1]
if s==p:
    print("palindrome")
else:
    print(" not palindrome")

palindrome

In [90]:
#WAP to check whether the given number is armstrong or not
num = int(input("enter the number:"))
p= num
armstrong=0
while num!=0:
    remainder = num%10
    armstrong = armstrong+remainder**3
    num = num//10
if p==armstrong:
    print("armstrong")
else:
    print(" not armstrong")

enter the number: 153

armstrong

In [88]:
#WAP to check whether the given number is Strong or not
num = int(input("enter the number:"))
p= num
Strong=0
while num!=0:
    remainder = num%10
    f=1
    for i in range (1,remainder +1):
        f=f*i
    Strong = Strong + f
    num = num//10
if Strong == p:
    print("Strong")
else:
    print(" not Strong")

enter the number: 145

Strong

In [7]:
#WAP to check whether the given number is Neon or not
num = int(input("enter the number:"))
square=num**2
n=0
while square !=0:
    remainder = square%10
    n += remainder
    square = square//10
if num == n:
    print("Neon")
else:
    print("not Neon")

enter the number: 12

not Neon

In [33]:
#WAP to check whether the given number is perfect or not
n = int(input("Enter any number: "))
p = 0
for i in range(1,n):
    if n % i == 0:
        p =p+i
if p==n:
    print("The number is a Perfect number")
else:
    print("The number is not a Perfect number")

Enter any number:  6

The number is a Perfect number

In [58]:
#26 write three separate programs to print TYB-COM 5 times using all the 3 loops
#For loop
a= input("enter the string: ")
for i in range(5):
     print(a)

enter the string:  TYB-COM

TYB-COM
TYB-COM
TYB-COM
TYB-COM
TYB-COM

In [60]:
# 26WHILE LOOP
a= " TYB-COM"
i=1
while i<=5:
    i+=1
    print(a)

 TYB-COM
 TYB-COM
 TYB-COM
 TYB-COM
 TYB-COM

In [84]:
#27 WAP to print number from 100 to 1. Print 10 numbers on each line
for i in range(100,0,-1):
    print(i, end=" ")
print()

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [88]:
#28 WAP to print all odd integers from 13 to 69. Print 8 integers on each line
for i in range(13,70):
    if i%2!=0:
        print(i,"odd Number") 
    else:
        print("even Number")

13 odd Number
even Number
15 odd Number
even Number
17 odd Number
even Number
19 odd Number
even Number
21 odd Number
even Number
23 odd Number
even Number
25 odd Number
even Number
27 odd Number
even Number
29 odd Number
even Number
31 odd Number
even Number
33 odd Number
even Number
35 odd Number
even Number
37 odd Number
even Number
39 odd Number
even Number
41 odd Number
even Number
43 odd Number
even Number
45 odd Number
even Number
47 odd Number
even Number
49 odd Number
even Number
51 odd Number
even Number
53 odd Number
even Number
55 odd Number
even Number
57 odd Number
even Number
59 odd Number
even Number
61 odd Number
even Number
63 odd Number
even Number
65 odd Number
even Number
67 odd Number
even Number
69 odd Number

In [64]:
#29 WAP to find and print the sum and product of first 5 natural number
sum = 0
product = 1
for i in range(1,6):
    sum += i
    product *= i
print("Sum of 5 numbers = ",sum)
print('Product of 5 numbers = ',product)

Sum of 5 numbers =  15
Product of 5 numbers =  120

In [66]:
#30 WAP to find and print the factorial of 4.
#Hint 4! = 1 X 2 X 3 X 4
n=int(input("enter the number: "))
factorial=1
for i in range(1, n + 1):
    factorial*= i
print(factorial)

enter the number:  4

24

In [72]:
#31 write a program to print the sum of all even numbers from 10 to 100
sum=0
for i in range(10,101):
    if i%2==0:
        sum+=i
print("sum of 10 to 100 even numbers:" ,sum)

sum of 10 to 100 even numbers: 2530

In [120]:
#32 WAP three separate programs, using three loops, to calculate the sum of 1 + 3 + 5 +........+ 115
sum = 0
for i in range(1,116):
        sum+=i
print("sum of 1 to 115 numbers=:" ,sum)

sum of 1 to 115 numbers=: 6670

In [122]:
#32(while loop)
sum = 0
i = 1
while i < 116:
    sum += i
    i += 1
print("sum of numbers = ",sum)

sum of numbers =  6670

In [124]:
#33 WAP to find and print the sum of 1^2 + 2^2 + 3^2 + ......... + 15^2
sum=0
for i in range(1,16):
    sum+=i**2
print("sum of 1 to 15: ",sum)

sum of 1 to 15:  1240

In [114]:
#34 WAP to find and print the sum of 2^0 + 2^1 + 2^2 + .......... + 2^10
power=0
for i in range(11):
    power+=2**i
print("sum of power: ",power)

sum of power:  2047

In [118]:
#35 WAP to find and print the sum of 1^2 + 2^3 + 3^4 + ......... + 5^6
power=0
for i in range(1,6):
    power += i**(i+1)
print("sum of power: ",power)

sum of power:  16739

In [126]:
#36 WAP to find and print the sum of 2x5 + 5x9 + 8x13 + .......... + 29x41
m = 5
s = 0
for i in range (2,30,3):
    print(i,"x",m,"=",i*m)
    s += (i*m)
    m += 4
print("sum = ",s)

2 x 5 = 10
5 x 9 = 45
8 x 13 = 104
11 x 17 = 187
14 x 21 = 294
17 x 25 = 425
20 x 29 = 580
23 x 33 = 759
26 x 37 = 962
29 x 41 = 1189
sum =  4555

In [110]:
#37 WAP to find and print the sum of 1.3 + 3.5 + 5.7 + .......+19.21
s = 0
for i in range(1,20,2):
    s += (i//2)+0.2+0.3
print("sum = ",s)

sum =  50.0

In [ ]:
#38 WAP to find and print the sum of 22.5 + 32.6 + 42.7 + .........+322.35

In [102]:
#39 WAP to find and print the sum of 2^3x3 + 4^3x7 + 6^3x11 + .........+ 20^3x39
m = 3
s = 0
n = 3
for i in range(2,22,2):
    print(i,'^',m,'=',(i**m)*n)
    s += (i**m)*n
    n+=4
print("sum = ",s)

2 ^ 3 = 24
4 ^ 3 = 448
6 ^ 3 = 2376
8 ^ 3 = 7680
10 ^ 3 = 19000
12 ^ 3 = 39744
14 ^ 3 = 74088
16 ^ 3 = 126976
18 ^ 3 = 204120
20 ^ 3 = 312000
sum =  786456

In [112]:
#40 WAP to find and print the sum of 1x2x3 + 3x4x5 + 5x6x7 + ........+ 21x22x23
m = 2
n = 3
s = 0
for i in range(1,23,2):
    print(i,'x',m,'x',n,'=',i*m*n)
    s += (i*m*n)
    m += 2
    n +=2
print("sum = ",s)

1 x 2 x 3 = 6
3 x 4 x 5 = 60
5 x 6 x 7 = 210
7 x 8 x 9 = 504
9 x 10 x 11 = 990
11 x 12 x 13 = 1716
13 x 14 x 15 = 2730
15 x 16 x 17 = 4080
17 x 18 x 19 = 5814
19 x 20 x 21 = 7980
21 x 22 x 23 = 10626
sum =  34716

In [82]:
#41 WAP to find and print the sum of √1 + √2 + √3 + ... + √25
s = 0
for i in range(1,26):
    print(i**2)
    s +=(i**2)
print("sum= ",s)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
sum=  5525