In [1]:
#Q1. Write a program in Python to print the following pattern
#a)
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
#e)
for i in range(1,6):
    for j in range(1,i+1):
        print(i, end = ' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
#f)
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(i, end = ' ')
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [11]:
#g)
for i in range(1,6):
    for j in range(5,5-i,-1):
        print(j, end = ' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [19]:
#k)
for i in range(1,5+1):
    for j in range(i,0,-1):
        print(j, end = ' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [36]:
#l)
c=1
for i in range(1,5):
    for j in range(1,i+1):
        print(c,end = " ")
        c+=1   
    print()

1
2 3
4 5 6
7 8 9 10

In [1]:
#m)
c=1
st=2
for i in range(1,4):
    for j in range(1,st):
        print(c,end = " ")
        c+=1
    st += 2   
    print()

1
2 3 4
5 6 7 8 9

In [71]:
#n)

for i in range(0,rows):
    for j in range(0,i+1):
        square = i*j
        print(i*j, end =" ")
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16

In [2]:
#o)
for i in range(0,5):
    for j in range(0,i+1):
        print(j*j, end = ' ')
    print()

0
0 1
0 1 4
0 1 4 9
0 1 4 9 16

In [79]:
#p)
for i in range(1,6):
    for j in range(0,i):
        square = i*j
        print(i*i, end = ' ')
    print()

1
4 4
9 9 9
16 16 16 16
25 25 25 25 25

In [60]:
#q)

for i in range(1,6):
    for j in range(0,i):
        print(i*2-1, end = ' ')
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [44]:
#r)
for i in range(1,6):
    for j in range(1,i+1):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [45]:
#u)
for i in range(1,6):
    for j in range(1,6):
        print(j, end = ' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [46]:
#v)
for i in range(1,6):
    for j in range(1,6):
        print(i, end = ' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [57]:
#aa)
word = "Python"
x =" "
for i in word:
    x += i
    print(x)

 P
 Py
 Pyt
 Pyth
 Pytho
 Python

In [9]:
#b)
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end = " ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [10]:
#c)
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i,end = " ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [20]:
for i in range(5,0,-1):
    for j in range(1,i+1,1):
        print(j,end = " ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [25]:
#s)
for i in range(5,0,-1):
    for j in range(1,i+1,1):
        print('*', end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [10]:
#h)

for i in range(1,6):
    for j in range(5, i, -1):
            print(" ", end=' ')
    for k in range(1,i+1):
        print(k, end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [8]:
#t)
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ", end = " ")
    for k in range(5,5-i,-1):
        print("*", end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [6]:
#i)
for i in range(1, 6):
    for j in range(5, i, -1):
            print(" ", end=' ')
    for k in range(5,5-i,-1):
          print( i, end=' ')
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [48]:
#j)
for i in range(1, 6):
    for j in range(5,i, -1):
            print(" ", end=' ')
    for k in range(i,0,-1):
           print( k, end=' ')
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [11]:
#w)
a= "A B C D E"
for i in range(5):
    print(a[0:(i*2)+1])

A
A B
A B C
A B C D
A B C D E

In [12]:
#x)
b="ABCDE"
for i in range(5):
    print(b[i]*(i+1))

A
BB
CCC
DDDD
EEEEE

In [41]:
#ab)
for i in range(1, 6):
    for j in range(5, i, -1):
            print(" ", end=' ')
    for k in range(i*2-1):
          print( i, end=' ')
    print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [28]:
#y)
for i in range(1,7):
    for j in range(6, i, -1):
            print(" ", end='')
    for k in range(1,i+1):
          print( "*", end=' ')        
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *