In [5]:
#Create list of your name,age, field ,location using [] and list constructor
my_list =["alpa","26","commerce","surat"]
print (my_list)

['alpa', '26', 'commerce', 'surat']

In [7]:
#print only your field using index method
my_list =["alpa","26","commerce","surat"]
print(my_list[2])
my_list[2]

commerce

'commerce'

In [65]:
#print the position of location element
my_list =["alpa","26","commerce","surat"]
my_list.index("surat")

3

In [69]:
#element btw age and locaton ,using backward slicing
my_list =["alpa","26","commerce","surat"]
print(my_list[-2:-1])

['commerce']

In [63]:
#element btw age and locaton ,using forward slicing
my_list =["alpa","26","commerce","surat"]
print(my_list[2:3])

['commerce']

In [21]:
#replace the element of name with surname
my_list =["alpa","26","commerce","surat"]
my_list[0] ="guntuk"
print(my_list)

['guntuk', '26', 'commerce', 'surat']

In [71]:
#replace the element of name ,age and field
my_list =["alpa","26","commerce","surat"]
my_list[0:3]=["develearn"]
print(my_list)

['develearn', 'surat']

In [64]:
#replace the element of name,age with only surname
my_list =["alpa","26","commerce","surat"]
my_list[0:2]= ["guntuk"]
print(my_list)

['guntuk', 'commerce', 'surat']

In [33]:
#replace the element of name with your nickname and surname'
my_list =["alpa","26","commerce","surat"]
my_list[0]="alpa guntuk"
print(my_list)

['alpa guntuk', '26', 'commerce', 'surat']

In [72]:
#add your surname in the list after your first name
my_list =["alpa","26","commerce","surat"]
my_list.insert(1,'Guntuk')
print(my_list)

['alpa', 'Guntuk', '26', 'commerce', 'surat']

In [84]:
#add your only one hobby at the end of the list
my_list =["alpa","26","commerce","surat"]
my_list.append ('travelling')
print(my_list)

['alpa', '26', 'commerce', 'surat', 'travelling']

In [94]:
#add your n-numbers of hobbies at the end of list
my_list =["alpa","26","commerce","surat"]
my_list.extend (['travelling','dance','listing music'])
print(my_list)

['alpa', '26', 'commerce', 'surat', 'travelling', 'dance', 'listing music']

In [96]:
#remove your location from list
my_list =["alpa","26","commerce","surat"]
my_list.remove("surat")
print(my_list)

['alpa', '26', 'commerce']

In [98]:
#remove your age from list[using 2 methods]
my_list =["alpa","26","commerce","surat"]
my_list.remove("26")
print(my_list)

['alpa', 'commerce', 'surat']

In [102]:
#using 2 methods
my_list =["alpa","26","commerce","surat"]
my_list.pop(1)
print(my_list)

['alpa', 'commerce', 'surat']

In [106]:
#remove last element from the list
my_list =["alpa","26","commerce","surat"]
my_list.pop()
print(my_list)

['alpa', '26', 'commerce']

In [108]:
#remove all element from the list(empty)
my_list =["alpa","26","commerce","surat"]
my_list.clear()
print(my_list)

[]

In [79]:
#delete the list
my_list =(["alpa","26","commerce","surat"])my_list
print(my_list)

NameError: name 'delmy_list' is not defined

In [53]:
#create a list of 5,2,18,7,12 and print in ascending and descending order
my_list = [5,2,18,7,12]
my_list.sort()
print("Ascending order  :: ",my_list)
my_list.sort(reverse=True)
print("Descending order  :: ",my_list)

Ascending order  ::  [2, 5, 7, 12, 18]
Descending order  ::  [18, 12, 7, 5, 2]

In [85]:
# merge two list
my_list = [5,2,18,7,12]
my_list1 = [90,92,98,97,91]
my_list.extend(my_list1)
my_list

[5, 2, 18, 7, 12, 90, 92, 98, 97, 91]

In [83]:
#create a list of prime numbers till 20 and find the length of it
prime=[2,3,5,7,11,13,17,19]
print(len(prime))

8

In [89]:
#make a deep copy of list and check whether it is copying deeply or not
li=[2,4,6,8,9]
print(li)

[2, 4, 6, 8, 9]

In [95]:
lcopy=li
print(l2.copy)()
print(l2)

[2, 4, 6, 8, 9]
[2, 4, 6, 8, 9]

In [109]:
#make a copy of list in that way  making changes in one list will not affect to the another list 
l2=[1,3,5,7,10]
l2copy= l2.copy()
print(l2copy)
print(l2)

[1, 3, 5, 7, 10]
[1, 3, 5, 7, 10]

In [113]:
l2.append(5)
print(l2)
print(l2copy)

[1, 3, 5, 7, 10, 5]
[1, 3, 5, 7, 10]

In [121]:
#zip four list contain with natural number your name,age, rollno
natural_number=[24]
name= ["alpa"]
age=[26]
rollno= [21]
my_list=zip(natural_number,name,age,rollno)
my_list=list(my_list)
print(my_list)

[(24, 'alpa', 26, 21)]

In [127]:
#unzip the above list
natural_number,name,age, rollno=zip(*my_list)
print(natural_number)
print(name)
print(age)
print(rollno)

(24,)
('alpa',)
(26,)
(21,)